server {
    listen 443 ssl;
    keepalive_timeout 70;

    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_ciphers         AES128-SHA:AES256-SHA:RC4-SHA:DES-CBC3-SHA:RC4-MD5;
    ssl_certificate     /tls-certificate;
    ssl_certificate_key /tls-key;
    ssl_session_cache   shared:SSL:10m;
    ssl_session_timeout 10m;

    location / {
        proxy_pass http://$GIROPOPS_SENHAS_DNS:$GIROPOPS_SENHAS_PORT;
    }
}